* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #2c4e39, #1f3520);
    color: #1a944d;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 50px;
    text-shadow: 1.5px 1px 2px #29270f;
}

.header-container {
    width: 80%;
    background: linear-gradient(to bottom, #1F3D2B, #A54C2C);
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #af8507;
}

.time-container {
    font-size: 24px;
    color: #f8edfd;
    margin-bottom: 10px;
    text-shadow: 1.5px 1px 2px #d8ca02;
}

.content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.button-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 80%;
    margin-top: 20px;
}

.option-button {
    width: 250px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to bottom, #6b9474, #062c1f);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #d8b038;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 1.5px 1px 2px #071f06;
}

.option-button:hover {
    background: linear-gradient(to bottom, #223d2d, #577c50);
    transform: scale(1.05);
}

.footer-container {
    margin-top: 50px;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    color: #f8edfd;
    text-shadow: 1.5px 1px 2px #242207;
}

.footer-container a {
    color: #948321;
    text-decoration: none;
    font-weight: bold;
}

.footer-container a:hover {
    text-decoration: underline;
}

